.time {
    position: absolute;
    font-size: 12px;
    margin-top: -16px;
    font-weight: 600;
}

.user-infor {
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 16px;

    .user-img {
        img {
            width: 90px;
            height: 90px;

            thead {
                th {
                }
            }

            tbody {
                td {
                }
            }
        }
    }
    table {
        width: 100%;
    }

    .user-id {
        justify-content: center;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        font-weight: 600;
        margin-left: 15px;
    }

    .notify-success {
        color: #39e915;
        font-size: 12px;
        position: relative;
        display: flex;
    }
    .notify-error {
        color: #e91c15;
        font-size: 12px;
        position: relative;
        display: flex;
    }
}
