.time {
    position: absolute;
    font-size: 12px;
    margin-top: -16px;
    font-weight: 600;
}

.user-infor {
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;

    .user-img {
        img {
            width: 90px;
            height: 90px;
        }
    }

    .user-id {
        justify-content: center;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        font-weight: 600;
        margin-left: 15px;
    }

    .notify-success {
        color: #39e915;
        font-size: 20px;
        margin-top: 48px;
        display: inline-block;
    }
    .notify-error {
        color: #e91c15;
        font-size: 20px;
        margin-top: 48px;
        display: inline-block;
    }
}
