html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
        Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    --tw-bg-opacity: 1;
    // background-color: rgb(20 20 32 / var(--tw-bg-opacity));
    background-image: url(../../src/Assets/img/background-home.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    min-height: 100vh;
    // font-family: 'Inter', sans-serif;
    margin: 0;
    line-height: inherit;
}
a {
    text-decoration: none;
}

.bg-gra {
    background: linear-gradient(180deg, rgba(20, 20, 32, 0.65) 0%, #141420 100%);
    width: 100%;
    height: 100%;
    z-index: -10;
    left: 0px;
    top: 0px;
    position: absolute;
}

.zone {
    width: 105%;
    height: 105%;
    border: 10px solid;
    border-image: linear-gradient(45deg, #a50098, #632984) 10;
    margin-top: -11px;
    margin-left: -13.5px;
}

// Design của Yuno :)))
.design-btn,
.btn-design {
    border-radius: 12px;
    display: flex;
}

.design-btn {
    padding: 4px;
    background: #ff00f1;
    background: linear-gradient(to bottom, #8628b6 0%, #8d26b2 100%);
    background: linear-gradient(to bottom, #8628b6 0%, #8d26b2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        to bottom,
        #870280 0%,
        #ff00f1 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#870280', endColorstr='#ff00f1',GradientType=0 ); /* IE6-9 */
    border-radius: 16px;
    opacity: 0.9;
    border: solid 1px rgba(255, 255, 255, 0.7);
    box-shadow: 0 -10px 10px 10px -8px rgba(255, 255, 255, 0.9);
    margin: 3px;
    width: 55px;
    height: 55px;

    input[type='checkbox'] {
        display: none;
    }

    .btn-design {
        background: #dcd9d4;

        min-width: 45px;
        min-height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(49, 34, 22, 0.3);
        cursor: pointer;
        font-weight: 900;
        transition: 0.2s ease-in;
        box-shadow: inset 0 3px 2px 0 rgba(49, 34, 22, 0.07), inset 0 6px 3px 0 rgba(255, 255, 255, 0.8),
            inset 0 -4.5px 3.5px 0 rgba(165, 145, 131, 0.75), inset 0 -5px 3px -2px rgba(255, 255, 255, 0.4),
            inset 8px 0 4px -2px rgba(165, 145, 131, 0.8), inset -9px 0 3px -2px rgba(255, 255, 255, 0.4),
            0 4px 4px -1px rgba(49, 34, 22, 0.5), 0 8px 6px -3px rgba(49, 34, 22, 0.3);
    }
}
#on-off:checked ~ label .btn-design {
    box-shadow: inset 0 4px 2px 0 rgba(49, 34, 22, 0.16), inset 0 5px 3px 0 rgba(255, 255, 255, 0.8),
        inset 0 -4.5px 3.5px 0 rgba(178, 152, 134, 0.4), inset 0 -5px 3px -2px rgba(255, 255, 255, 0.4),
        inset 8px 0 4px -2px rgba(255, 255, 255, 0.5), inset -9px 0 3px -2px rgba(255, 255, 255, 0.3),
        0 3px 2px -1px rgba(178, 152, 134, 0.7), 0 -4px 4px 0 rgba(49, 34, 22, 0.05);
}
.notification {
    position: fixed;
    right: 0;
    z-index: 9;

    .toast {
        position: relative;
        padding: 10px;
        margin-bottom: 10px;
        width: 400px;
        display: grid;
        grid-template-columns: 70px 1fr 70px;
        border-radius: 5px;
        animation: show 0.3s ease 1 forwards;

        .content-notify {
            .title-notify {
                font-size: x-large;
                font-weight: bold;
            }
            .span-title-notify {
                opacity: 0.6;
                font-weight: 600;
            }
        }

        .img-notify {
            margin-top: 18px;
            width: 22px;
        }
    }
    .success {
        --success: #0abf30;
        color: var(--success);
        background-image: linear-gradient(to right, #0abf30, #22242f 30%);

        &::before {
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: var(--success);
            width: 100%;
            height: 3px;
            content: '';
            box-shadow: 0 0 10px var(--success);
            animation: timeOut 2s linear 1 forwards;
        }
    }

    .error {
        --error: #ff0200;
        color: var(--error);
        background-image: linear-gradient(to right, #b70c0c, #22242f 30%);

        &::before {
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: var(--error);
            width: 100%;
            height: 3px;
            content: '';
            box-shadow: 0 0 10px var(--error);
            animation: timeOut 2s linear 1 forwards;
        }
    }
}

@keyframes show {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-5%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10%);
    }
}

@keyframes timeOut {
    to {
        width: 0%;
    }
}

.inp-id {
    position: absolute;
    margin-top: -30px;

    .style-inp {
        background: #632984 !important;
        color: #fff !important;
        font-weight: 600;
        border-radius: 20px;
        // border: 1px solid;
        text-indent: 14px;

        &:focus {
            outline: none;
        }
        &::placeholder {
            color: #fff !important;
        }
    }
}

.error {
    color: #a91403;
}

*,
::before,
::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}
*,
::before,
::after {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}

Header {
    transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter,
        -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow,
        transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow,
        transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

button,
select {
    text-transform: none;
}

button,
[role='button'] {
    cursor: pointer;
}

ol,
ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

.flicker {
    background-color: #a91403;
    -webkit-border-radius: 10px;
    border-radius: 50%;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    margin-top: -22px;
    margin-left: 206px;
}
@-webkit-keyframes glowing {
    0% {
        background-color: #7f1100;
        -webkit-box-shadow: 0 0 3px #7f1100;
    }
    50% {
        background-color: #ff3c00;
        -webkit-box-shadow: 0 0 10px #ff3c00;
    }
    100% {
        background-color: #7f1100;
        -webkit-box-shadow: 0 0 3px #7f1100;
    }
}

@-moz-keyframes glowing {
    0% {
        background-color: #7f1100;
        -moz-box-shadow: 0 0 3px #7f1100;
    }
    50% {
        background-color: #ff3c00;
        -moz-box-shadow: 0 0 10px #ff3c00;
    }
    100% {
        background-color: #7f1100;
        -moz-box-shadow: 0 0 3px #7f1100;
    }
}

@-o-keyframes glowing {
    0% {
        background-color: #7f1100;
        box-shadow: 0 0 3px #7f1100;
    }
    50% {
        background-color: #ff3c00;
        box-shadow: 0 0 10px #ff3c00;
    }
    100% {
        background-color: #7f1100;
        box-shadow: 0 0 3px #7f1100;
    }
}

@keyframes glowing {
    0% {
        background-color: #7f1100;
        box-shadow: 0 0 3px #7f1100;
    }
    50% {
        background-color: #ff3c00;
        box-shadow: 0 0 10px #ff3c00;
    }
    100% {
        background-color: #7f1100;
        box-shadow: 0 0 3px #7f1100;
    }
}

.flicker {
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

.btn-remote {
    color: #fff;
    margin: 0 10px 0 0;
    background-color: #000;
    box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}

@-webkit-keyframes xoayvong {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}
/* Standard syntax */
@keyframes xoayvong {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}
