.home-page {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: auto;

    .gui-page {
        display: block;
        width: 100%;
        margin: 0 auto;

        .content-gui {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;

            .content-left {
                border-radius: 20px;
                padding: 40px;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                border: 5px solid #08080888;
                min-width: 800px;
                height: 600px;

                .content-oke {
                    border: 5px solid #7d7b7b88;
                    height: 100%;
                    // border-radius: 20px;

                    .content-left-head {
                        margin-top: -38px;
                        margin-left: -27px;
                    }

                    .content-left-camera {
                        margin-top: 10px;
                        height: 100%;
                        img {
                            width: 700px;
                            height: 500px;
                            margin-top: 5px;
                        }
                    }

                    .cottent-left-remote {
                        width: 100%;
                        margin-top: 15px;
                        height: 0;
                        display: flex;
                        justify-content: center;
                    }
                }
            }
            .content-right {
                border-radius: 20px;
                margin-left: 18px;
                padding: 20px;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            }
        }
    }
}
