.train-data-page {
    background-image: url(../../Assets/img/background-home.jpg);
    padding-top: 100px;
    padding-bottom: 6rem;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    z-index: 10;
    overflow: hidden;
    position: relative;
    height: 100vh;

    .train-data {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-right: 16px;
        padding-left: 16px;

        @media (min-width: 1320px) {
            max-width: 1320px;
        }

        @media (max-width: 1140px) {
            max-width: 1140px;
            padding: 0 7px;
        }

        @media (max-width: 992px) {
            max-width: 992px;
            padding: 0 40px;
        }

        @media (max-width: 768px) {
            max-width: 768px;
        }

        @media (max-width: 575px) {
            max-width: 575px;
            padding: 0;
        }

        .content-train-data {
            align-items: center;
            flex-wrap: wrap;
            display: flex;
            margin-left: -1rem;
            margin-right: -1rem;

            .content-left {
                padding-left: 1rem;
                padding-right: 1rem;
                width: 100%;

                @include MinWidth992 {
                    width: 68%;
                }

                .camera {
                    position: relative;
                    margin-bottom: 3rem;
                    border-radius: 50px;
                    padding: 40px;
                    display: none;
                    height: 540px; // 960 540
                    // width: 960px;
                    // transform: rotate(90deg);

                    &::before {
                        content: '';
                        position: absolute;
                        inset: 0;
                        border-radius: 50px;
                        padding: 30px;
                        background: linear-gradient(45deg, #a50098, #632984);
                        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                        -webkit-mask-composite: xor;
                        mask-composite: exclude;
                    }

                    @include MinWidth992 {
                        margin-bottom: 0px;
                    }

                    .content-left-camera {
                        background-color: transparent;
                        height: 100%;
                    }
                }

                .open-camera {
                    cursor: pointer;
                    display: inline-block;
                    transition: opacity 0.5s ease-in-out;
                    transition: transform 0.3s ease-in-out;
                    margin-left: 140px;

                    &:hover {
                        transform: scale(1.05);
                        -webkit-transform: scale(1.05);
                    }
                }

                .fade-out {
                    animation: fade-out 0.5s ease-in-out;
                    opacity: 0;
                }
                @keyframes fade-out {
                    from {
                        opacity: 1;
                    }
                    to {
                        opacity: 0;
                    }
                }
                .open-camera-btn {
                    display: block;
                    animation: slide-in 0.5s ease-in-out;
                }

                @keyframes slide-in {
                    from {
                        transform: translateX(-100%);
                    }
                    to {
                        transform: translateX(0%);
                    }
                }
            }

            .content-right {
                padding-left: 1rem;
                padding-right: 1rem;
                width: 100%;
                // background: rgb(165, 79, 226);
                // background: linear-gradient(118deg, rgba(165, 79, 226, 1) 30%, rgba(255, 15, 242, 1) 68%);
                // height: 500px;
                // border-radius: 50px;
                padding: 20px;
                flex-direction: column;
                display: flex;

                @include MinWidth992 {
                    width: 32%;
                }

                .submit-trainimg {
                    border: 1px solid #f11cf9;
                    padding: 10px;
                    border-radius: 12px;
                    background: #df2bd2;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 600;

                    &:hover {
                        background: #ab009f !important;
                    }
                }

                .btn-train-img {
                    border: 1px solid #f11cf9;
                    padding: 10px;
                    border-radius: 12px;
                    background: #df2bd2;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 600;
                    cursor: pointer;
                    margin-left: 100px;
                    position: absolute;

                    &:hover {
                        background: #ab009f;
                    }
                }
            }
        }
    }
}
